#about{
    width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#aboutB{
    width: auto;
    min-height:50vh;
    background-color:black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

#aboutBt{
    color: #ffffff;
    font-size: clamp(3em, 10vw, 18em);
}

#aboutM{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding:2rem 2rem;
    gap: 1rem;
}

.aboutItem{
    width: 100%;
    height: auto;
    gap: 1rem;
}

.aboutItem h1,.aboutItem p{
    text-align: left;
}

.aboutItem h1{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: 0;
    text-wrap: none;
}

.aboutItem p{
    width: 90%;
    font-size: clamp(1rem, 3vw, 1.8rem);
}

@media (min-width: 250px) and (max-width: 1024px){
    #aboutB{
        border-radius: 0px;
    }

    #aboutM{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding:20px 8px;
    }

    #aboutM p{
        margin: 0;
    }
}