@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  --base-lineHeight: 1.5;
  font-family: "Abel", sans-serif;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Parisienne", cursive;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size: 16px;
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6,h,p,span,input,ul li a,textarea,textarea::placeholder,input::placeholder{
  color:rgb(41, 39, 39)
}

h1,h2,h3,h4,h5,h6{
  font-size: clamp(1.5rem, 3vw, 5.5rem);
  line-height: (1.2 * var(--base-lineHeight) + 0.5vw);
}

button{
  font-size: clamp(1rem, 3vw, 1.8rem);
}

p,input,span {
  font-size: clamp(1rem, 3vw, 1.8rem);
  line-height: calc(1.1 * var(--base-lineHeight) + 0.3vw);
}